venv
*node_modules/
.DS_Store
*convert/
__pycache__/
*.ipynb_checkpoints/
.pdm-python
dist/*
.vscode
tests/test.html
tests/test.pdf
test_large_files.html
.benchmarks/
src/py_allotax/test.*
example_charts/notebook_test.html
example_charts/html_only_test.html
example_charts/notebook_test.pdf
example_charts/
